*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans',sans-serif;
  font-size:medium;
}
html,body{
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://cache.teia.rocks/ipfs/bafybeicass6d3ftqyfigxciwfysnzm4aobfjuk4zvtueenvqqpjo3p75ju");
  background-repeat: no-repeat;
  background-size: cover;
}